.default-photo__container{
    border-radius: 100%;
    width: 15em;
    height: 15em;
    margin: auto;
    overflow: hidden;
}
.default-photo__container--td{
    width: 3em;
    height: 3em;
    margin: auto;
    overflow: hidden;
}
.default-photo{
    object-fit: cover;
}