:root{
    --blackfont:#F4F6F9;
}
.container{
    min-height: 90vh;
}
.table-primary{
    background-color: #aaa;
}
.container-list{
    margin: 0 2em;
    background-color: #fff;
}
.container-list__h2{
    padding: .3em 1em;
}
.text--white{
    color: #fff;
}

/*container-list__header*/
.container-list__header{
    border-bottom: .5em solid var(--blackfont) ;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container-list__h3{
    margin: 0;
}