:root{
    --blackfont:#F4F6F9;
}
.container{
    min-height: 90vh;
}
.table-primary{
    background-color: #aaa;
}
.container-list{
    margin: 0 2em;
    background-color: #fff;
}
.container-list__h2{
    padding: .3em 1em;
}
.text--white{
    color: #fff;
}
