:root{
  --greenBootstrap:#28A745;
  --redBootstrap:#DC3545;
  --blackfont:#F4F6F9;
}

/*custom text */
.text--white{
  color: #fff;
}

/* highlighter */
.highlighter{
  padding: .15em .5em;
  border-radius: .5em;
  font-weight: bold;
}
.highlighter--green{
  color: #fff;
  background-color: var(--greenBootstrap);
}
.highlighter--red{
  color: #fff;
  background-color: var(--redBootstrap);
}

